[submodule "libMsgPack"]
	path = libMsgPack
	url = git@iron:libMsgPack
[submodule "libZmqIpc"]
	path = libZmqIpc
	url = git@iron:libZmqIpc
[submodule "sqlitepp"]
	path = sqlitepp
	url = git@iron:sqlitepp
[submodule "libTimerPool"]
	path = libTimerPool
	url = git@iron:libTimerPool
